/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-icons/iconfont/material-icons.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}
